//  Table of Contents:
//
//   1. Bootstrap font overrides
//   2. Colors
//   3. Space unit

// 1. Bootstrap font overrides
// ---------
$font-family-sans-serif: "Atlas Grotesk", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;


// 2. Colors
// ---------
$valuebaseone-black:    #23213b;
$valuebaseone-blue:     #090866;
$valuebaseone-yellow:   #ffc502;
$valuebaseone-bright-blue: #4da2db;

$brand-primary:         $valuebaseone-black !default;
$brand-secondary:       $valuebaseone-bright-blue;

$brand-highlight:       $valuebaseone-blue;

$white:                 #fff;
$gray:                  #2c3e50;
$darkgray:              #95a5a6;
$dark:                  #2c3e50;
$notice:                #3498db;
$success:               #1abc9c;
$alert:                 #e74c3c;
$border-color:          #ecf0f1;
$border-color--dark:    #bdc3c7;
$darkblue:              #0c3954;

// 3. Space unit
// ---------
$base-space-unit:       1em !default;
$base-radius-unit:      3px !default;
