.submitpitch {
  background-color: $white;
  background-image: url("../img/backgrounds/background-waves.jpg");
  background-position-y: -100px;
  background-size: cover;
  min-height: 250px;
}
// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   .banner {
//     background-image: url("../img/backgrounds/meetourmembers@2x.jpg");
//   }
// }
